// NEW RAML.ORG STYLES

// add bootstrap variable settings here

@import 'bootstrap/bootstrap';

@font-face{
  font-family: 'Roboto-Regular';
  src:url('../fonts/Roboto-Regular.ttf');
}

// add more css stuff here

@font-face{
  font-family: 'Roboto-Regular';
  src:url('../fonts/Roboto-Regular.ttf');
}
@font-face{
  font-family: 'Roboto-Light';
  src:url('../fonts/Roboto-Light.ttf');
}
@font-face{
  font-family: 'RobotoMono-Regular';
  src:url('../fonts/RobotoMono-Regular.ttf');
}

$font-face-regular:'Roboto-Regular';
$font-face-light:'Roboto-Light';

$editor-bg:#3c4c5f;
$sky-blue:#26D3FF;
$slate-gray:#526881;
$light-gray:#748599;
$lighter-gray:#F7FAFF;
$selected-line:#DBE8FD;

/*overriding bootstrap variables */
$primary: $sky-blue !default;

/*fonts variables*/
$font-h1:36px;
$font-h2:24px;
$font-h3:16px;
$font-face-small:14px;

html,body{
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

body {
  background-color: $editor-bg;
}
a:hover{
  text-decoration: none!important;
  color: $sky-blue;
}
a{
  color: $sky-blue;
}
li{
  list-style: none;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px;
}

body{
  margin: 0;
  padding: 0;
  font-family: $font-face-regular;
  position: relative;
}
ul{
  text-decoration: none;
  list-style: none;
}

h1{
  font-size: $font-h1;
  line-height: 42px;
  font-family: $font-face-light;
  color: $slate-gray;
}
h2{
  font-size: $font-h2;
  line-height: 28px;
  color: $slate-gray;
}
h3{
  font-size: $font-h3;
  line-height: 19px;
  color: $slate-gray;
}
h4{
  font-size: $font-face-small;
  line-height: 16px;
  color: $slate-gray;
}
p{
  font-size: $font-face-small;
  line-height: 24px;
  color: $slate-gray;
}

header{
  margin-bottom: 50px;
}

.raml-editor{
  position: relative;

  h2{
    color: $light-gray;
    font-family: 'Roboto-Regular';
    font-size: $font-face-small;
    font-weight: 500;
    line-height: 16px;
    margin:0;
    background: $lighter-gray;
    padding: 20px;
    border-top: 1px solid $light-gray;
    width: 100%;
  }
  .editor-block{
    .monaco-editor{
      .monaco-editor-hover{
        margin-left: 10%;
      }
      .selected-line-editor-decoration{
        background-color: $selected-line;
        width: 7px !important;
        margin-left: 1px;
      }
      .editor-scrollable{
        .view-lines{
          .mtk26,.mtk23,.mtk21{
            font-family: 'RobotoMono-Regular';
            font-weight: 500;
          }
          .mtk8{
            color: #9EAAB7;
            font-family: 'RobotoMono-Regular';
            letter-spacing: 1px;
            font-weight: 500;
          }
        }
      }
      .view-overlays{
        .current-line{
          background-color:#DBE8FD;
        }
      }
    }
    .line-numbers{
      color: #9EAAB7;
    }
  }
}

.raml-demo-select {
  border: none;
  background-color: transparent;
}

.selected-element-line-decoration {
  background-color: $selected-line;
}

.half-width {
  max-width: 50%;
}

.modal-card-body, #query {
  .select {
    select {
      &:focus, &:active {
        border-color: $primary;
      }
    }
    &:after {
      border-color: $primary;
    }
  }
}
.modal-card-head {
  margin-bottom: 0px;
}
.modal-card-foot {
  .is-success {
    background-color: #26D3FF;
  }
}

.link-tools {
  display: none;
}

.connection-wrap {
  display: none;
}

/* Diff */
.diff-number-plus {
  margin-right: 5px;
  width: 60px;
  font-size: 14px;
  font-weight: bolder;
}

.diff-number-minus {
  width: 60px;
  font-size: 14px;
  font-weight: bolder;
}

.diff-number-identical {
  font-size: 14px;
  font-weight: bolder;
}

#diff-modal {
  .modal-content {
    width: 70%;
    .modal-card {
      width: 100%;
      .modal-card-body {
        table {
          font-size: 120%;
          thead {
            th:last-child {
              text-align: center;
            }
          }
          tbody {
            td:last-child {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

#diff-panel {
  padding-bottom: 15px;
  .level-item {
    div {
      .title {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bolder;
      }
      .heading {
        color: #FFFFFF;
      }
    }
  }
  .has-text-centered {
    margin-top: 5px;
  }
}


#report-table {
  .table thead td, .table thead th {
    color: #ffffff!important;
  }
  .table td, .table th {
    color: #ffffff!important;
  }
  overflow: auto;
  color: #ffffff;
  table {
    thead {
      tr {
        .tag {
          font-size: 14px;
          font-weight: bolder;
        }
        .text-centered {
          text-align: center;
        }
      }
    }
    tbody {
      .text-centered {
        text-align: center;
      }
    }
  }
}
#graphContainer {
  background-color: #272b30;
}

/* api-documentation */
#api-console-container {
  font-family: 'RobotoMono-Regular';
  width: 25%;
  padding: 10px 20px;
  margin: 30px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  overflow-y: auto;
  color: #f5f5f5;
  --http-method-label-get-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-post-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-put-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-patch-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-delete-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-head-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-options-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-trace-background-color: rgba(255, 255, 255, 0.4);
  --http-method-label-connect-background-color: rgba(255, 255, 255, 0.4);
  --link-color: #f5f5f5;
  --api-body-document-description-color: #f5f5f5;
  --anypoint-button-color: #f5f5f5;
  --anypoint-button-emphasis-low-focus-color: #f5f5f5;
  --api-annotation-document-color: #f5f5f5;
  --http-code-snippet-container-background-color: rgba(255, 255, 255, 0.4);
  --http-code-snippet-code-text-shadow: 0;
  --code-background-color: rgba(255, 255, 255, 0.4);
}

.joint-paper.joint-theme-default {
  background-color: #3c4c5f!important;
}

.is-marginless {
  margin: 0;
}

.tabs {
  color: #FFFFFF;
  li {
    padding: 5px;
  }
}

/* Visualizataion demo */
#editor-graph {
  padding-left: 1rem;
}