#the-app {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

#file-to-load-input {
    width: 90%;
}

.submenu-label {
    margin-left: 15px !important;
    text-transform: capitalize !important;
}

.link-tools .tool-remove { display: none }
.link-tools .tool-options { display: none }
.link .marker-arrowheads { display: none; }

.navigator-item {
    padding: 5px;
}

.branded {
    position: absolute;
    top: 8px;
    z-index: 1000;
    right: 180px;
}

/* Queries */
#table-wrapper thead {
    height: 200px;
    display: block;

}

#table-wrapper tbody {
    display: block;
    overflow: scroll;

}
/*
 Editor styles
 */

/* comments */
.mtk8 {
    color: #82ddff !important;
}

.mtk1 {
    color: #00A2DF !important;
}

/* keywords */
.mtk22 {
    color: #00A2DF !important;
}

/* JSON properties */
.mtk20 {
    color: #00A2DF !important;
}

/* text */
.mtk5 {
    color: #ffffff !important;
}

/* boolean */
.mtk6 {
    color: #82ddff !important;
}

.mtk7 {
    color: #82ddff !important;
}

/* !include */
.mtk14 {
    color: #82ddff !important;
}

.margin {
    background-color: black !important;
}