html {
    background-color: #F4F5F6; }

#preloader {
    position: absolute;
    top: 13px; }

#preloader-progress::-moz-progress-bar {
    background-color: #00A2DF; }

#preloader-progress::-webkit-progress-value {
    background-color: #00A2DF; }

* {
    box-sizing: border-box; }

@media screen and (min-width: 769px) {
    .column.is-three-quarters {
        width: 66%;
        background-color: #ffffff; } }

.column {
    background-color: #F4F5F6;
    position: relative; }
.column.is-three-quarters {
    padding-bottom: 0; }

.label, .input {
    color: #6B6C6D;
    font-family: Open Sans, sans-serif;
    font-weight: normal; }

.input {
    background-color: #F4F5F6;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-left: 2px solid #989A9B;
    border-right: 2px solid #989A9B; }

.button.is-primary, a.button.is-success {
    background-color: #00A2DF !important;
    border-radius: 0;
    padding: 0 20px;
    margin-right: 20px; }
.button.is-primary:hover, a.button.is-success:hover {
    color: #ffffff; }

.menu-list a.is-active {
    background-color: #14A7DE; }

.tabs {
    font-family: Open Sans, sans-serif; }
.tabs ul {
    border-bottom: 3px solid #999A9B;
    color: #999A9B;
    opacity: 0.9; }
.tabs a {
    color: #999A9B;
    opacity: 0.9;
    border: none; }
.tabs a:hover {
    color: #3A3B3C; }
.tabs li.is-active a {
    color: #3A3B3C;
    border-bottom: 3px solid #14A7DE;
    margin-bottom: -3px;
    opacity: 1; }

nav {
    background-image: url("../images/header.svg");
    position: relative;
    padding: 5px 0; }
nav .nav-item .select select {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-radius: 0; }
nav .nav-item .select select option {
    color: #000; }
nav .nav-item .select select option:hover {
    color: #ffffff; }
nav .nav-item .select:after {
    border-color: #ffffff; }
nav .nav-item a.button {
    border-radius: 0;
    color: #00A2DF;
    border: 1px solid #00A2DF;
    background-color: transparent;
    position: absolute;
    right: 200px; }
nav .logo-wrapper {
    color: #ffffff;
    font-family: Open Sans, sans-serif; }
nav .logo-wrapper .nav-logo-text {
    font-size: 20px;
    margin: 0 8px 0 13px; }
nav .logo-wrapper .nav-logo-img {
    margin-left: 10px; }
nav .logo-wrapper .super {
    margin-bottom: 8px; }

.editor-container {
    border: none; }
#editor-data-container .monaco-editor.vs .token.support.type.json {
    color: #00A2DF; !important;
}

#editor-shape-container .monaco-editor.vs .token.support.type.json {
    color: #00A2DF; !important;
}

.editor-container .monaco-editor.vs .token, .editor-container .monaco-editor.vs .token.comment, .editor-container .monaco-editor.vs .token.comment.block, .editor-container .monaco-editor.vs .token.comment.block.documentation, .editor-container .monaco-editor.vs .token.comment.line, .editor-container .monaco-editor.vs .token.type, .editor-container .monaco-editor.vs .token.punctuation {
    color: #00A2DF; !important; }
.editor-container .monaco-editor.vs .token.string.value, .editor-container .monaco-editor.vs .token.string.yaml, .editor-container .monaco-editor.vs .token.comment.string.value, .editor-container .monaco-editor.vs .token.comment.string.yaml, .editor-container .monaco-editor.vs .token.comment.block.string.value, .editor-container .monaco-editor.vs .token.comment.block.string.yaml, .editor-container .monaco-editor.vs .token.comment.block.documentation.string.value, .editor-container .monaco-editor.vs .token.comment.block.documentation.string.yaml, .editor-container .monaco-editor.vs .token.comment.line.string.value, .editor-container .monaco-editor.vs .token.comment.line.string.yaml, .editor-container .monaco-editor.vs .token.type.string.value, .editor-container .monaco-editor.vs .token.type.string.yaml {
    color: #ECECEC !important; }
.editor-container .monaco-editor.vs .token.number {
    background-color: #00A2DF;
    color: #ffffff;
    font-size: 1em;
    padding: 10px 8px;
    height: 1em; }
.editor-container .monaco-editor.vs .line-numbers {
    color: #ffffff;
    padding-right: 9px;
    text-align: right;
    background-color: #000; }
.editor-container .monaco-editor.vs .current-line {
    border: none; }
.editor-container .selected-element-line-decoration {
    background-color: #00A2DF; }

.monaco-editor .cursor {
    background: whitesmoke !important;
    color: whitesmoke !important;
}
.base-url-form {
    display: flex; }
.base-url-form > div {
    flex: 1; }
.base-url-form > div.input-div {
    flex: 6;
    padding-right: 20px; }
.base-url-form > div:first-child {
    text-align: center; }

.monaco-editor-background.margin-view-overlays {
    background: #121314; }

.monaco-editor-background.lines-content {
    background: #262728; }

#navigator .menu {
    overflow-y: scroll;
}

.menu-list a.is-active:hover {
    color: #ffffff; }

.menu-list a:hover {
    color: #00A2DF; }

#bottom-links {
    background-color: #F4F5F6;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 10px; }
#bottom-links .ms-logo {
    margin: 0 20px;
    padding: 30px 0;
    border-top: 1px solid #989A9B; }

.amf-links {
    display: flex; }
.amf-links > a {
    flex: 1;
    height: 46px;
    font-size: 17px;
    color: #087299; }
.amf-links .github-logo img {
    opacity: 0.6;
    vertical-align: middle;
    margin-right: 10px; }

.modal-card-body .select select:focus, .modal-card-body .select select:active, #query .select select:focus, #query .select select:active {
    border-color: #00A2DF; }

.modal-card-body .select:after, #query .select:after {
    border-color: #00A2DF; }

#graph-container {
    background-color: black
}

.with-error {
    color: red !important;
}

#report-table {
    table-layout:fixed;
    width: 100% !important;
    overflow: scroll;
}

#report-table  thead {
    width: 100% !important;
}

#report-table  tr {
    width: 100% !important;
}

#report-table  #id-column-header {
    width: 100% !important;
}